.list-container {
    border: 1px solid black;
    border-radius: 25px;
    min-height: 150px;
}

.list-item {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}

.list-item>.item {
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    margin: 10px;
    width: 50%;
}

.list-item>.item:hover {
    cursor: pointer;
}

#listContainer {
    width: calc(100% - 20px);
    margin: 10px;
    text-align: center;
}